tracepoint:syscalls:sys_enter_openat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"OPENAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d,\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flags, args.mode);
}

tracepoint:syscalls:sys_exit_openat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"OPENAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret_fd\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_mkdirat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"MKDIRAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.pathname), args.mode);
}

tracepoint:syscalls:sys_exit_mkdirat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"MKDIRAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_unlinkat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"UNLINKAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flag\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.pathname), args.flag);
}

tracepoint:syscalls:sys_exit_unlinkat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"UNLINKAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_getdents64
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"GETDENTS64\",\"phase\":\"enter\",\"syscall\":\"getdents64\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"fd\":%d,\"count\":%d,\"dirent_ptr\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.fd, args.count, (uint64)args.dirent);
}

tracepoint:syscalls:sys_exit_getdents64
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"GETDENTS64\",\"phase\":\"exit\",\"syscall\":\"getdents64\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%lld}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_renameat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"RENAMEAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"olddfd\":%d,\"oldname\":\"%s\",\"newdfd\":%d,\"newname\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.olddfd, str(args.oldname), args.newdfd, str(args.newname));
}

tracepoint:syscalls:sys_exit_renameat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"RENAMEAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_fchmodat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"FCHMODAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.mode);
}

tracepoint:syscalls:sys_exit_fchmodat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"FCHMODAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_clone
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"CLONE\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"clone_flags\":%llu,\"newsp\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.clone_flags, args.newsp);
}

tracepoint:syscalls:sys_exit_clone
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"CLONE\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_clone3
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"CLONE3\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"uargs\":%llu,\"size\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, (uint64)args.uargs, args.size);
}

tracepoint:syscalls:sys_exit_clone3
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"CLONE3\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_newfstat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"STAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"fd\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.fd);
}

tracepoint:syscalls:sys_exit_newfstat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"STAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_newfstatat
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    if ((int64)args.dfd == -100) {
        if ((uint64)args.flag == 0x100) {
            printf("{\"event\":\"LSTAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, str(args.filename));
            @fstatat_kind[tid] = 2;
        } else {
            printf("{\"event\":\"STAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, str(args.filename));
            @fstatat_kind[tid] = 1;
        }
    } else {
        printf("{\"event\":\"FSTATAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flag);
        @fstatat_kind[tid] = 3;
    }
    @fstatat_ts[tid] = nsecs;
    @fstatat_cgroup[tid] = cgroup;
    @fstatat_pid[tid] = $pid;
    @fstatat_ppid[tid] = $ppid;
    @fstatat_start_time[tid] = $start_time;
    @fstatat_parent_start_time[tid] = $parent_start_time;
    @fstatat_uid[tid] = uid;
    @fstatat_gid[tid] = gid;
    @fstatat_comm[tid] = comm;
    @fstatat_dfd[tid] = args.dfd;
    @fstatat_filename[tid] = args.filename;
    @fstatat_flags[tid] = args.flag;
}

tracepoint:syscalls:sys_exit_newfstatat
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $kind = @fstatat_kind[tid];
    if ($kind == 2) {
        printf("{\"event\":\"LSTAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    } else if ($kind == 1) {
        printf("{\"event\":\"STAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    } else {
        printf("{\"event\":\"FSTATAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    }
    $discard = delete(@fstatat_ts[tid]);
    $discard = delete(@fstatat_cgroup[tid]);
    $discard = delete(@fstatat_pid[tid]);
    $discard = delete(@fstatat_ppid[tid]);
    $discard = delete(@fstatat_start_time[tid]);
    $discard = delete(@fstatat_parent_start_time[tid]);
    $discard = delete(@fstatat_uid[tid]);
    $discard = delete(@fstatat_gid[tid]);
    $discard = delete(@fstatat_comm[tid]);
    $discard = delete(@fstatat_dfd[tid]);
    $discard = delete(@fstatat_filename[tid]);
    $discard = delete(@fstatat_flags[tid]);
    $discard = delete(@fstatat_kind[tid]);
}

tracepoint:syscalls:sys_enter_statx
/comm != "bpftrace" && strncmp(comm, "enricher", 8) != 0 && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    @statx_buffer[tid] = args.buffer;
    printf("{\"event\":\"STATX\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d,\"mask\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flags, args.mask);
}

tracepoint:syscalls:sys_exit_statx
/@statx_buffer[tid]/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $mode = ((struct statx*)uptr(@statx_buffer[tid]))->stx_mode;
    printf("{\"event\":\"STATX\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"ret\":%d,\"stx_mode\":%u}\n", nsecs, cgroup, $pid, ((struct task_struct*)curtask)->real_parent->tgid, ((struct task_struct*)curtask)->start_boottime, ((struct task_struct*)curtask)->real_parent->start_boottime, args.ret, $mode);
    $discard = delete(@statx_buffer[tid]);
}
