tracepoint:syscalls:sys_enter_openat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"OPENAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d,\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flags, args.mode);
}

tracepoint:syscalls:sys_exit_openat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"OPENAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret_fd\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_mkdirat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"MKDIRAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.pathname), args.mode);
}

tracepoint:syscalls:sys_exit_mkdirat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"MKDIRAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_unlinkat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"UNLINKAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flag\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.pathname), args.flag);
}

tracepoint:syscalls:sys_exit_unlinkat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"UNLINKAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_getdents64
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"GETDENTS64\",\"phase\":\"enter\",\"syscall\":\"getdents64\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"fd\":%d,\"count\":%d,\"dirent_ptr\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.fd, args.count, (uint64)args.dirent);
}

tracepoint:syscalls:sys_exit_getdents64
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"GETDENTS64\",\"phase\":\"exit\",\"syscall\":\"getdents64\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%lld}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_renameat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"RENAMEAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"olddfd\":%d,\"oldname\":\"%s\",\"newdfd\":%d,\"newname\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.olddfd, str(args.oldname), args.newdfd, str(args.newname));
}

tracepoint:syscalls:sys_exit_renameat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"RENAMEAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_fchmodat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"FCHMODAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"mode\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.mode);
}

tracepoint:syscalls:sys_exit_fchmodat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"FCHMODAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_clone
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    @clone_ts[tid] = nsecs;
    @clone_cgroup[tid] = cgroup;
    @clone_parent_pid[tid] = $pid;
    @clone_ppid[tid] = $ppid;
    @clone_start_time[tid] = $start_time;
    @clone_parent_start_time[tid] = ((struct task_struct*)curtask)->real_parent->start_boottime;
    @clone_flags[tid] = args.clone_flags;
    @clone_newsp[tid] = args.newsp;
    @clone_parent_tidptr[tid] = args.parent_tidptr;
    @clone_tls[tid] = args.tls;
    @clone_child_tidptr[tid] = args.child_tidptr;
    @clone_uid[tid] = uid;
    @clone_gid[tid] = gid;
    @clone_comm[tid] = comm;
    printf("{\"event\":\"CLONE\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"clone_flags\":%llu,\"newsp\":%llu,\"parent_tidptr\":%llu,\"tls\":%llu,\"child_tidptr\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.clone_flags, args.newsp, args.parent_tidptr, args.tls, args.child_tidptr);
}

tracepoint:syscalls:sys_exit_clone
/@clone_ts[tid] && comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    printf("{\"event\":\"CLONE\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"clone_flags\":%llu,\"newsp\":%llu,\"parent_tidptr\":%llu,\"tls\":%llu,\"child_tidptr\":%llu,\"ret\":%d}\n", nsecs, @clone_cgroup[tid], @clone_parent_pid[tid], @clone_ppid[tid], @clone_start_time[tid], @clone_parent_start_time[tid], @clone_uid[tid], @clone_gid[tid], @clone_comm[tid], @clone_flags[tid], @clone_newsp[tid], @clone_parent_tidptr[tid], @clone_tls[tid], @clone_child_tidptr[tid], args.ret);
    delete(@clone_ts[tid]);
    delete(@clone_cgroup[tid]);
    delete(@clone_parent_pid[tid]);
    delete(@clone_ppid[tid]);
    delete(@clone_start_time[tid]);
    delete(@clone_parent_start_time[tid]);
    delete(@clone_flags[tid]);
    delete(@clone_newsp[tid]);
    delete(@clone_parent_tidptr[tid]);
    delete(@clone_tls[tid]);
    delete(@clone_child_tidptr[tid]);
    delete(@clone_uid[tid]);
    delete(@clone_gid[tid]);
    delete(@clone_comm[tid]);
}

tracepoint:syscalls:sys_enter_clone3
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    $flags = 0;
    $pidfd = 0;
    $child_tid = 0;
    $parent_tid = 0;
    $exit_signal = 0;
    $stack = 0;
    $stack_size = 0;
    $tls = 0;
    $set_tid = 0;
    $set_tid_size = 0;
    $cgroup = 0;
    if (args.uargs != 0) {
        $clone_args = (struct clone_args*)uptr(args.uargs);
        if (args.size >= 8) { $flags = $clone_args->flags; }
        if (args.size >= 16) { $pidfd = $clone_args->pidfd; }
        if (args.size >= 24) { $child_tid = $clone_args->child_tid; }
        if (args.size >= 32) { $parent_tid = $clone_args->parent_tid; }
        if (args.size >= 40) { $exit_signal = $clone_args->exit_signal; }
        if (args.size >= 48) { $stack = $clone_args->stack; }
        if (args.size >= 56) { $stack_size = $clone_args->stack_size; }
        if (args.size >= 64) { $tls = $clone_args->tls; }
        if (args.size >= 72) { $set_tid = $clone_args->set_tid; }
        if (args.size >= 80) { $set_tid_size = $clone_args->set_tid_size; }
        if (args.size >= 88) { $cgroup = $clone_args->cgroup; }
    }
    printf("{\"event\":\"CLONE3\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"uargs\":%llu,\"size\":%llu,\"flags\":%llu,\"pidfd\":%llu,\"child_tid\":%llu,\"parent_tid\":%llu,\"exit_signal\":%llu,\"stack\":%llu,\"stack_size\":%llu,\"tls\":%llu,\"set_tid\":%llu,\"set_tid_size\":%llu,\"clone_cgroup\":%llu}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, (uint64)args.uargs, args.size, $flags, $pidfd, $child_tid, $parent_tid, $exit_signal, $stack, $stack_size, $tls, $set_tid, $set_tid_size, $cgroup);
}

tracepoint:syscalls:sys_exit_clone3
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"CLONE3\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_newfstat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    printf("{\"event\":\"STAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"fd\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.fd);
}

tracepoint:syscalls:sys_exit_newfstat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    printf("{\"event\":\"STAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", nsecs, cgroup, $pid, args.ret);
}

tracepoint:syscalls:sys_enter_newfstatat
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    if ((int64)args.dfd == -100) {
        if ((uint64)args.flag == 0x100) {
            printf("{\"event\":\"LSTAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, str(args.filename));
            @fstatat_kind[tid] = 2;
        } else {
            printf("{\"event\":\"STAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\"}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, str(args.filename));
            @fstatat_kind[tid] = 1;
        }
    } else {
        printf("{\"event\":\"FSTATAT\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flag);
        @fstatat_kind[tid] = 3;
    }
    @fstatat_ts[tid] = nsecs;
    @fstatat_cgroup[tid] = cgroup;
    @fstatat_pid[tid] = $pid;
    @fstatat_ppid[tid] = $ppid;
    @fstatat_start_time[tid] = $start_time;
    @fstatat_parent_start_time[tid] = $parent_start_time;
    @fstatat_uid[tid] = uid;
    @fstatat_gid[tid] = gid;
    @fstatat_comm[tid] = comm;
    @fstatat_dfd[tid] = args.dfd;
    @fstatat_filename[tid] = args.filename;
    @fstatat_flags[tid] = args.flag;
}

tracepoint:syscalls:sys_exit_newfstatat
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $kind = @fstatat_kind[tid];
    if ($kind == 2) {
        printf("{\"event\":\"LSTAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    } else if ($kind == 1) {
        printf("{\"event\":\"STAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    } else {
        printf("{\"event\":\"FSTATAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ret\":%d}\n", @fstatat_ts[tid], @fstatat_cgroup[tid], $pid, args.ret);
    }
    $discard = delete(@fstatat_ts[tid]);
    $discard = delete(@fstatat_cgroup[tid]);
    $discard = delete(@fstatat_pid[tid]);
    $discard = delete(@fstatat_ppid[tid]);
    $discard = delete(@fstatat_start_time[tid]);
    $discard = delete(@fstatat_parent_start_time[tid]);
    $discard = delete(@fstatat_uid[tid]);
    $discard = delete(@fstatat_gid[tid]);
    $discard = delete(@fstatat_comm[tid]);
    $discard = delete(@fstatat_dfd[tid]);
    $discard = delete(@fstatat_filename[tid]);
    $discard = delete(@fstatat_flags[tid]);
    $discard = delete(@fstatat_kind[tid]);
}

tracepoint:syscalls:sys_enter_statx
/comm != "bpftrace"   && comm != "kubelet" && comm != "containerd" && comm != "containerd-shim" && strncmp(comm, "runc", 4) != 0/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    @statx_buffer[tid] = args.buffer;
    printf("{\"event\":\"STATX\",\"phase\":\"enter\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"dfd\":%d,\"raw_filepath\":\"%s\",\"flags\":%d,\"mask\":%d}\n", nsecs, cgroup, $pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, args.dfd, str(args.filename), args.flags, args.mask);
}

tracepoint:syscalls:sys_exit_statx
/@statx_buffer[tid]/
{
    $pid = ((struct task_struct*)curtask)->tgid;
    $mode = ((struct statx*)uptr(@statx_buffer[tid]))->stx_mode;
    printf("{\"event\":\"STATX\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"ret\":%d,\"stx_mode\":%u}\n", nsecs, cgroup, $pid, ((struct task_struct*)curtask)->real_parent->tgid, ((struct task_struct*)curtask)->start_boottime, ((struct task_struct*)curtask)->real_parent->start_boottime, args.ret, $mode);
    $discard = delete(@statx_buffer[tid]);
}

tracepoint:syscalls:sys_enter_execve
/comm != "bpftrace"  /
{
    $ppid = ((struct task_struct*)curtask)->real_parent->tgid;
    $start_time = ((struct task_struct*)curtask)->start_boottime;
    $parent_start_time = ((struct task_struct*)curtask)->real_parent->start_boottime;
    $argv = (uint64)args.argv;
    $argv0 = str(uptr(*(uint64*)uptr($argv)));
    $argv1 = str(uptr(*(uint64*)uptr($argv + 8)));
    $argv2 = str(uptr(*(uint64*)uptr($argv + 16)));
    $argv3 = str(uptr(*(uint64*)uptr($argv + 24)));
    @execve_pending[tid] = 1;
    @execve_filename[tid] = str(args.filename);
    @execve_argv0[tid] = $argv0;
    @execve_argv1[tid] = $argv1;
    @execve_argv2[tid] = $argv2;
    @execve_argv3[tid] = $argv3;
    printf("{\"event\":\"EXECVE\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"ppid\":%d,\"start_time\":%llu,\"parent_start_time\":%llu,\"uid\":%d,\"gid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\",\"argv0\":\"%s\",\"argv1\":\"%s\",\"argv2\":\"%s\",\"argv3\":\"%s\"}\n", nsecs, cgroup, pid, $ppid, $start_time, $parent_start_time, uid, gid, comm, str(args.filename), $argv0, $argv1, $argv2, $argv3);
}

tracepoint:syscalls:sys_enter_execveat
/comm != "bpftrace"  /
{
    $argv = (uint64)args.argv;
    @execveat_fd[tid] = args.fd;
    @execveat_flags[tid] = args.flags;
    @execveat_pending[tid] = 1;
    @execveat_filename[tid] = str(args.filename);
    @execveat_argv0[tid] = str(uptr(*(uint64*)uptr($argv)));
    @execveat_argv1[tid] = str(uptr(*(uint64*)uptr($argv + 8)));
    @execveat_argv2[tid] = str(uptr(*(uint64*)uptr($argv + 16)));
    @execveat_argv3[tid] = str(uptr(*(uint64*)uptr($argv + 24)));
}

tracepoint:syscalls:sys_exit_execve
/@execve_pending[tid]/
{
    printf("{\"event\":\"EXECVE\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"comm\":\"%s\",\"raw_filepath\":\"%s\",\"argv0\":\"%s\",\"argv1\":\"%s\",\"argv2\":\"%s\",\"argv3\":\"%s\",\"ret\":%lld}\n", nsecs, cgroup, pid, comm, @execve_filename[tid], @execve_argv0[tid], @execve_argv1[tid], @execve_argv2[tid], @execve_argv3[tid], args.ret);
    delete(@execve_filename[tid]);
    delete(@execve_pending[tid]);
    delete(@execve_argv0[tid]);
    delete(@execve_argv1[tid]);
    delete(@execve_argv2[tid]);
    delete(@execve_argv3[tid]);
}

tracepoint:syscalls:sys_exit_execveat
/@execveat_pending[tid]/
{
    printf("{\"event\":\"EXECVEAT\",\"phase\":\"exit\",\"ts\":%llu,\"cgroup\":%llu,\"pid\":%d,\"comm\":\"%s\",\"fd\":%d,\"raw_filepath\":\"%s\",\"argv0\":\"%s\",\"argv1\":\"%s\",\"argv2\":\"%s\",\"argv3\":\"%s\",\"flags\":%d,\"ret\":%lld}\n", nsecs, cgroup, pid, comm, @execveat_fd[tid], @execveat_filename[tid], @execveat_argv0[tid], @execveat_argv1[tid], @execveat_argv2[tid], @execveat_argv3[tid], @execveat_flags[tid], args.ret);
    delete(@execveat_fd[tid]);
    delete(@execveat_flags[tid]);
    delete(@execveat_filename[tid]);
    delete(@execveat_pending[tid]);
    delete(@execveat_argv0[tid]);
    delete(@execveat_argv1[tid]);
    delete(@execveat_argv2[tid]);
    delete(@execveat_argv3[tid]);
}

